
.overlay { background-color: #795E09; }
#core_logo .submain { color:#fff; }
.home #TopBannerMain, span.ftext, .home .jumbostyle1 .btn, .btn-primary, #core_menu_wrapper .navbar-nav > li,._searchresultsblock .ext1 li, .menu_style4 button  { 
background: #BB910A;
}
